<div class="dialog-content">
    <div class="dialog-content-wrapper">
         <div class="im-history-wrapper">
            <div class="nano">
               <div class="nano-content">
                  <ul class="im-history">
                  {{#each sortedMessages as |msg|}}
                     <li>
                        <div class="message-wrap">
                            {{#if msg.out}}
                                <!-- Сообщение от меня -->
                                <img src={{VKSpy.user.photo_50}}>
                                <p class="message-sender">{{VKSpy.user.fullName}}</p>
                            {{else}}
                                <!-- Сообщение для меня -->
                                <img src={{user.photo_50}}>
                                <p class="message-sender">{{user.fullName}}</p>
                            {{/if}}
                            <p class="message-time">{{msg.time}}</p>
                            <p class="message-{{if msg.readState "read" "unread"}}">
                                {{#if msg.type}}
                                    <font color = "blue">
                                    {{#if msg.Img}}
                                        <img src = {{msg.Img}} alt="Logo">
                                    {{else}}
                                        {{msg.type}}
                                    {{/if}}
                                    </font>
                                {{else}}
                                    {{msg.text}}    
                                {{/if}}
                            </p>
                        </div>
                     </li>
                     {{/each}}
                  </ul>
               </div>
            </div>
         </div>
          <div class="im-send-wrapper">
            <div class="im-send">
               <img src={{VKSpy.user.photo_50}}>
               <div class="message-field">
                     {{input type="text" name="messageField" value=messageText enter="sendMessage" key-press="setActivity" placeholder="Enter message"}}
               </div>
               <a href="#" {{action "sendMessage"}}>
                  <img src="image/send-sss.png">
               </a>
               <img src={{user.photo_50}}>
            </div>
         </div>
    </div>
</div>