<style>
  .blueunread {
    color: blue;
    background-color: #F0F8FF;
  }
  .blueread {
    color: blue;
  }
  .unread {
    background-color: #F0F8FF;
  }
  .read {
  }
</style>

<div class="dialog-list">
    <div class="search">
        {{input type="text" name="search" value=searchText enter="searchDialog" placeholder="Search"}}
    </div>
    <div class="friends">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    {{#each sortedDialogs as |dialog|}}
                    <li>
                        <a href="#" {{action "goToDialog" dialog.user}}>
                            <img src={{dialog.user.photo_50}}>
                            <p class="name">{{dialog.user.fullName}}</p>
                            <p class="time">{{dialog.message.time}}</p>
                            <p class="message-{{if dialog.message.readState "read" "unread"}}">
                                {{#if dialog.message.type}}
                                    <font color = "blue">
                                        {{dialog.message.type}}
                                    </font>
                                {{else}}
                                    {{dialog.message.text}}
                                {{/if}}
                            </p>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>