<style>
  .blueunread {
    color: blue;
    background-color: #F0F8FF;
  }
  .blueread {
    color: blue;
  }
  .unread {
    background-color: #F0F8FF;
  }
  .read {
  }
</style>

Диалоги:
<ul>
  {{#each sortedDialogs as |dialog|}}
    <li>
      <img src={{dialog.user.photo_50}} alt="Logo">
      {{dialog.user.fullName}}
      <br>
      {{#if dialog.message.type}}
        <font color = "blue">
          <p class = "blue{{if dialog.message.readState "read" "unread"}}"> {{dialog.message.type}} </p> {{#if dialog.unread}} {{dialog.unread}} {{/if}}
        </font>
      {{else}}
        <p class = "{{if dialog.message.readState "read" "unread"}}"> {{dialog.message.text}} </p> {{#if dialog.unread}} {{dialog.unread}} {{/if}}
      {{/if}}

      <button {{action "goToDialog" dialog.user.id}} class="btn btn-default">Перейти к диалогу</button>

      <button {{action "consoleDlgInfo" dialog}} class="btn btn-default">Инфа о диалоге</button>
    </li>
  {{/each}}
</ul>