{{#if inDialog}}
<button {{action "goToBack"}} class="btn btn-primary btn-lg active">Назад</button>
{{companion}}
<div style="width:500px">
  {{#each messages as |msg|}}
  {{#if msg.out}}
  	<p class="text-left">{{msg.body}}</p>
  {{else}}
  	<p class="text-right">{{msg.body}}</p>
  {{/if}}
  {{/each}}
</div>
{{input type="text" value=messageText}} 
<button {{action "sendMessage"}} class="btn btn-default">Отправить</button>


{{else}}

Диалоги:
<ul>
  {{#each sortedDialogs as |dialog|}}
    <li>
      {{dialog.lastMsg}}
      <img src={{dialog.user.photo_50}} alt="Logo">
      
      <button {{action "goToDialog" dialog}} class="btn btn-default">Перейти к диалогу</button>
      <button {{action "consoleDlgInfo" dialog}} class="btn btn-default">Инфа о диалоге</button>
    </li>
  {{/each}}
</ul>



{{/if}}


<button {{action "getCurrentUser"}} class="btn btn-default">Current user</button>