<style>
  .blueunread {
    color: blue;
    background-color: #F0F8FF;
  }
  .blueread {
    color: blue;
  }
  .unread {
    background-color: #F0F8FF;
  }
  .read {
  }
</style>

<ul>
    {{#each sortedDialogs as |dialog|}}
    <li>
        <a href="#" {{action "goToDialog" dialog.user.id}}>
            <img src={{dialog.user.photo_50}}>
            <p class="name">{{dialog.user.fullName}}</p>
            <p class="time">{{dialog.message.time}}</p>
            <p class="message">{{dialog.message.text}}</p>
        </a>
    </li>
    {{/each}}
</ul>